/*sibendra*/
 
.img-clinic {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
.font-medium{
  font-size: 14px;
}
.badge-style{
  background-color: lightgrey;            
  padding: 2px 10px;
  border-radius: 3px;
}
.extra-small{
  font-size: 12px;
}
.icon-pos {
  position: absolute;
  font-size: 15px;
  bottom: 0;
  color: #fff;
  background-color: green;
  right: 0;
  border-radius: 50%;
  padding: 1px 5px;
}
.icon-dot {
  font-size: 5px;
  vertical-align: middle;
  color: #7f7f7f;
}
.avail{
  padding: 5px 7px;
  border: 1px solid rgba(0,0,0,.1);
  cursor: pointer;
}
.avail-any{
  background-color: #14bef0;
  color: #fff;
  transition: .3s ease-in-out;
  padding: 5px 7px;
  cursor: pointer;
}

.avail:hover{
  background-color: #14bef0;
  color: #fff;
  transition: .3s ease-in-out;
}

.cs-avail-flex{
  display: flex;
}
.cs-vdo-link{
  position: absolute;
  font-size: 14px;
  background-color: white;
  left: 10px;
  top: -11px;
  padding-left: 5px;
  padding-right: 5px;
}
.cu-text-vdo-link{
  width: 100%;
  padding: 12px;
  border: 2px solid #007bff!important;
  border-radius: 5px;
}
.social-container{
  border: 1px solid rgb(212, 212, 212);
  padding: 3px 7px;
  border-radius: 20px;
}
.social-img{
  width: 20px;
  height: 20px;
  vertical-align: sub;
}
/*Doc_profile*/
.btn-padd{
  padding: 8px 27px !important;
  font-size: 15px;
}
@media screen and (min-width:200px) and (max-width:767px) {
  .cs-col-padd{
    padding: 0px 5px;
  }
}

@media screen and (min-width:768px) and (max-width:1055px) {
  .btn-padd{
    padding: 8px 10px !important;
  }
  .cs-col-padd{
    padding: 0px 5px;
  }
}

@media screen and (min-width:576px) and (max-width:615px) {
  .btn-padd{
    padding: 8px 10px !important;
  }
}
.cu-info-bdr{
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  padding: 15px;
}

.fixed-sm-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  cursor: pointer;
  z-index: 1020;
}
.inf-btn-des{
  display: flex;
}
.inf-btn-des>a{
  width: calc(100% /2);
}

@media screen and (min-width:200px) and (max-width:445px) {
  .inf-btn-des{
    display: block;
  }
  .inf-btn-des>a{
    width: 100%;
  }
  .inf-btn-des>a:nth-child(2)>div{
    margin-top: 5px;
  }
}
/* /Doc_profile*/

@media screen and (min-width:993px) and (max-width:1316px) {
  .cs-avail-flex{
    display: block;
  }
  .cs-avail-flex-sec{
    margin-top: 7px;
    width: 51%;
  }
}

@media screen and (min-width:100px) and (max-width:360px) {
  .resp-btn{
    font-size: 12px;
    padding: 8px 0px 8px;
    margin-top: 5px;
  }
  .res-text{
    font-size: 12px;
  }
}
/*Store Design*/

.font-styl{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px !important;
}
.drop-style{
  padding: 10px 15px;
  font-size: 14px;
}
.drop-style:hover{
  background-color:whitesmoke;
}
.drop-style:nth-child(1):hover{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.drop-style:nth-last-child(1):hover{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.custom-cal{
  font-size: 25px;
  margin-top: 5px;
  border-left: 1px solid rgb(189, 189, 189);
}
.cus-nav-dpdown{
  background-color: rgb(252, 252, 252);
  border-radius: 5px;
  overflow-y: scroll;
  position: absolute;
  z-index: 999;
  width: 88%;
  max-height: 100px;
}
.cnf-nav-dpdown{
  background-color: rgb(252, 252, 252);
  border-radius: 5px;
  overflow-y: scroll;
  position: absolute;
  z-index: 999;
  width: 92%;
  margin-left: 10px;
}
.comp-name-nav-dpdown{
  background-color: rgb(252, 252, 252);
  border-radius: 5px;
  overflow-y: scroll;
  position: absolute;
  z-index: 999;
  width: 95%; 
}
.bell-style{
  font-size: 19px;
  top: 4px;
  right: 11px;
  position: absolute;
  color: #99abb4;
}
.bell-button{
  position: absolute;
  top: -2;
  right: 0;
  font-size: 11px;
  font-weight: 600;
  border-radius: 50%;
  background-color: red;
  width: 15px;
  height: 15px;
  color: #fff;
  text-align: center;
}
.mar-le-star{
  margin-left: -4px;
}
.mar-le-bar{
  margin-left: -10px;
}
.vi-cli{
  display: flex !important;
}
.vi-cli>div:nth-child(1){
  border-right: 1px solid rgb(189, 189, 189);
}
.vi-cli>div:nth-child(2){
  padding-left: 6px;
}
.img-crd{
  height: 190px;
  overflow: hidden; 
  border-radius: 5px;
}

@media screen and (min-width:200px) and (max-width:767px){
  .img-crd{
    height: 300px;
  }
}
@media screen and (min-width:768px) and (max-width:1150px){
  .mar-le-star{
    margin-left: 2px;
  }
  .mar-le-bar{
    margin-left: -5px;
  }
}
@media screen and (min-width:992px) and (max-width:1170px){
  .vi-cli{
    display: block !important;
  }
  .vi-cli>div:nth-child(1){
    border-right: 0;
  }
  .vi-cli>div:nth-child(2){
    padding-left: 0;
  }
  .bt-alpha{
    width: 100px;
  }
  .bt-beta{
    width: 80px;
    margin-left: 9px;
  }
  .bt-beta-o{
    width: 76px;
    margin-left: 9px;
  }
}

/* /Store design*/

/*insight css*/

.box-des{ 
  box-shadow: 24px 0px 34px -27px #fff,-24px 0px 34px -27px #fff;
  padding: 15px;
  width: max-content;
  margin: auto;
  background-color: #fff;
}

.font-normal{
  font-size: 16px;
}

.font-six{
  font-weight: 600;
}
.new-btn{
  background-color: aliceblue;
  padding: 2px 12px;
}
.lat-img{
  width: 100%;
  position: relative;
}
.over-img-overlay{
  position: absolute;
  top: 12%;
  left: 10%;
  width: 80%;  
  background-color: rgba(0, 0, 0, 0.548);
  border-radius: 5px;
  padding: 12px;  
}

/*end insight css*/

/*Post*/

.post-card{
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  padding: 12px;
  box-shadow: 0px 0px 8px 0px rgb(197, 197, 197);
}
.font-large{
  font-size: 20px;
}
.card-bar-top{
  border-right: 1px solid rgb(226, 226, 226);
  padding: 0px 15px;
  cursor: pointer;
}
.card-bar-top:nth-last-child(1){
  border-right: 0;
}
.post-card-content{
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  width: 100%;
}
.card-des-footer{
  border-top: 1px solid rgb(226, 226, 226);
  background-color: rgb(247, 247, 247);
}

/*/Post*/

/*Photo*/

.drag-drop{
  border: 2px dotted rgb(14, 14, 14);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  background-color: rgb(238, 246, 253);
  height: 350px;  
}

/*/Photo*/

/* Review */

.img-mid{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 430px;
}
.siz{
  width: 100%;
  height: 300px;
}
.img-head-text{
  font-size: 24px !important;
}
.img-sub-head-text{
  font-size: 14px !important;
}
.ell-btn:hover{
  background-color: rgb(226, 226, 226);
  border-radius: 50%;
  height: 37px;
  transition: 0.1s ease-in-out;
}
.res-wid-img{
  width: 38px;
  background-color: rgb(235, 235, 235);
}
@media screen and (min-width:200px) and (max-width:540px){
  .img-mid{
    max-width: 90%;
  }
  .res-wid-img{
    width: 50px;
  }

}
@media screen and (min-width:200px) and (max-width:670px){

  .siz{
    height: 280px;
    width: 100%;
  }
}


/* /Review */

/*Modal custom form*/

/*Input-box*/

.label {
  position: absolute;
  top: 5;
  font-size: 18px;
  margin: 15px;
  padding: 0px 10px;
  transition: 0.5s;
  color: rgb(155, 155, 155);
  pointer-events: none;
  background-color: #fff;
}

.text-active {
  left: 10;
  font-size: 15px;
  background-color: #fff;
  padding: 0px 5px;
  color: rgb(41, 152, 255);
  transform: translateY(-120%);
}

.style {
  width: 100%;
  padding: 15px;
  border: 2px solid rgb(214, 214, 214);
  border-radius: 5px;
}

.style:focus {
  outline: none;
  border: 2px solid rgb(41, 152, 255);
}

.style:hover {
  border-color: rgb(41, 152, 255);
  transition: all 0.3s ease-in-out;
}



/*End of Input box*/

/* /Modal custom form*/
.selected-area{
  border: 1px solid transparent;
}
.selected-area:hover{
  border: 1px solid rgb(41, 152, 255);
  transition: all 0.3s ease-in-out;
}

/*Slider of checkbox*/

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 19px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 3px;
  top: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* /Slider of checkbox*/

.inp-des{
  border-bottom: 1px solid rgb(163, 163, 163) !important;
  border: 0;
  width: 14%;
}
.set-off-time{
  font-size: 35px;
  padding: 9px;
  border: 2px solid rgb(214, 214, 214);
  border-radius: 5px;
  color: rgb(155, 155, 155);
}
.set-off-time:hover{
  border-color: rgb(41, 152, 255);
  transition: all 0.3s ease-in-out;
  color: rgb(41, 152, 255);
}
.set-ck-sty{
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
}
.set-ck-sty:hover{
  border-color: rgb(41, 152, 255);
  transition: all 0.3s ease-in-out;
}



/*Gandeshwari UI Backend*/
.navbar-gd {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-gd a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-gd {
  float: left;
  overflow: hidden;
}

.dropdown-gd .dropbtn-gd {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar-gd a:hover, .dropdown-gd:hover .dropbtn-gd {
  background-color: red;
}

.dropdown-content-gd {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  z-index: 1;
}

.dropdown-content-gd .header-gd {
  background: red;
  padding: 16px;
  color: white;
}

.dropdown-gd:hover .dropdown-content-gd {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}
/* /Gandeshwari UI Backend*/



/*sibendra*/
/*filter*/

.sidenav {
  height: 70%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .d-full-md{
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 2024px) {
    
  div.filter-res { display: none}   /* hide it elsewhere */
}
@media screen and (min-width: 0px) and (max-width: 992px) {
    div.filter{display: none}
  div.filter-res { display: block}  /* show it on small screens */
}
/*filter*/
        .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}



.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
       /*share*/
        .centered {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
       }
       .top-centered{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
           
       }
        .doc{
        position: absolute;
        top: 40%;
        left: 30%;
            color:  rgba(255, 255, 0,1);
        transform: translate(-50%, -50%);
        border-radius: 5px;
        box-shadow: 2px 2px 5px #000;
        padding: 20px;
            margin: auto;
            background: rgba(34, 34, 34, 0.8);
       }
        .appointment{
        position: absolute;
        top: 70%;
        left: 50%;
            color:  rgba(255, 255, 0,1);
        transform: translate(-50%, -50%);
        border-radius: 5px;
        box-shadow: 2px 2px 5px #000;
        padding: 20px;
            margin: auto;
            background: rgba(34, 34, 34, 0.8);
       }

        .doc-join{
        position: absolute;
        top: 85%;
        left: 45%;
            color:  rgba(255, 255, 0,1);
        transform: translate(-50%, -50%);
        border-radius: 5px;
        box-shadow: 2px 2px 5px #000;
        padding: 10px;
            margin: auto;
            background: rgba(34, 34, 34, 0.8);
       }
        .feature-centered{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        box-shadow: 2px 2px 5px #000;
        padding: 20px;
            margin: auto;
            background: rgba(255, 255, 0, 0.8);
       }

       .bottom-centered{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
       }


form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
   box-sizing: border-box;
}

form.example button:hover {
  background: #0b7dda;
}


@media(max-width:478px){
    .doc{
        padding: 5px;
        top: 30%;
        left: 40%;
       }
}
@media(max-width:424px){
    .doc{
       padding: 2px;
       }
    .feature-centered{
        padding: 5px;
        top: 80%;
        left: 35%;
        background: rgba(255, 255, 0, 0.7);
       }
}
